@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono&subset=latin-ext');

html,
body {
  margin: 0;
}

body div.ShitpostContainer {
  height: 100vh;
  font-size: 8pt;
  font-family: Verdana, Arial, sans-serif;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.ShitpostCentre {
  max-width: 500px;
  margin: auto;
  padding: 30px 0 30px 0;
}

div.ShitpostCredits {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  font-family: Verdana, Arial, sans-serif;
  font-size: 8pt;
}

.corner-banner a {
  background: #AD7C00 linear-gradient(
    to left, 
    rgba(255, 212, 102, 0.11) 0%,
    rgba(255, 212, 102, 0.13) 25%,
    rgba(255, 212, 102, 0.3) 75%,
    rgba(255, 212, 102, 0.0) 100%
  );
  color: gold;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}

.corner-banner a:hover {
  background: #EDAC00 linear-gradient(
    to left, 
    rgba(255, 212, 102, 0.11) 0%,
    rgba(255, 212, 102, 0.13) 25%,
    rgba(255, 212, 102, 0.3) 75%,
    rgba(255, 212, 102, 0.0) 100%
  );
  color: gold;
}

.corner-banner a::before,
.corner-banner a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #FFDD00;
}

.corner-banner a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (max-width:799px) {
  .corner-banner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -0.13rem;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 9999;
  }
  .corner-banner a {
    height: 30px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}


@media screen and (min-width:800px) {
  .corner-banner {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }
  .corner-banner a {
    width: 200px;
    position: absolute;
    top: 60px;
    left: -60px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}

pre {
  font-weight: 600;
  font-family: 'Oxygen Mono', monospace;
}